<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Deshabilitar la ejecución de cualquier script o ejecutable en la carpeta Uploads -->
    <handlers accessPolicy="Read" />
    <security>
      <requestFiltering>
        <fileExtensions applyToWebDAV="true">
          <add fileExtension=".aspx" allowed="false" />
          <add fileExtension=".ashx" allowed="false" />
          <add fileExtension=".asmx" allowed="false" />
          <add fileExtension=".config" allowed="false" />
          <add fileExtension=".cs" allowed="false" />
          <add fileExtension=".exe" allowed="false" />
          <add fileExtension=".dll" allowed="false" />
          <add fileExtension=".bat" allowed="false" />
          <add fileExtension=".cmd" allowed="false" />
          <add fileExtension=".ps1" allowed="false" />
          <add fileExtension=".vbs" allowed="false" />
          <add fileExtension=".php" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <!-- Denegar ejecución por motor clásico de ASP.NET -->
    <httpHandlers>
      <add path="*" verb="*" type="System.Web.HttpForbiddenHandler" />
    </httpHandlers>
  </system.web>
</configuration>
